a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: auto;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding: 10px;
    margin-left: 300px;

}
  
  a:hover, a:active {
    background-color:purple;
    color: white;
    box-shadow: 0px 0px 0px 3px rgba(0, 25, 25, 1);

  }
  div{
    padding: 12px 16px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .animate-charcter{
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #d400ff 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
    font-size: 50px;
    margin-left: 200px;
    
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }